/*barra gris*/
.box{
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
	background-color: #EBEBEB;
}
.box h1{
	text-align: center;
	font-size: 24px;
}
/*boton*/

.fa-plus{
	position: relative;
	right: -11px;
	top: 6px;
	color: #fff;
}
.btn-default {
	margin-top: 10px;
	border-radius: 5px;
	padding-left: 30px;
	margin-left: -15px;
	background-color: #4286f4;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
}
.btn-default:hover {
	margin-top: 10px;
	border-radius: 5px;
	padding-left: 30px;
	margin-left: -15px;
	background-color: #c2c3c4;
	color:#fff;
	padding-top: 3px;
	padding-bottom: 3px;
}
/*checkbox*/
.barra-gris{
	width: 100%;
	height: 50px;
	background-color: #c2c3c4;
	margin-top: 10px;

}
.box-agregar label{
	padding-left: 16px;
	padding-top: 13px;
}
/*
.fa-trash{
	float: right;
	position: relative;
	top: -37px;
	right: 19px;
	color: #fff;
	font-size:20px;
}
*/

